﻿@page "/"

<PageTitle>Home</PageTitle>

<h1 class="card-title">Welcome to the Tiger squadron.</h1>

<div class="row">
    <div class="col-md-6">
        <section>
            <h2>Your adventure starts here...</h2>
            <hr />
            <img style="width:60%;" src="/staffel_tiger.png" />
        </section>
    </div>
</div>
