﻿@page "/absence/list"
@rendermode InteractiveServer
@attribute [Authorize]
@inject UserAccessor UserAccessor;
@inject AbsenceListModel Model;

<PageTitle>Abwesenheiten</PageTitle>

<h1>Abwesenheiten im Zeitraum</h1>

<div class="row">
    <div class="col-md-8">
        <div class="form-floating mb-3">
            <input @bind-value="Model.StartDate" type="date" class="form-control" />
            <label for="start-date">Von</label>
        </div>
        <div class="form-floating mb-3">
            <input @bind-value="Model.EndDate" type="date" class="form-control" />
            <label for="end-date">Bis</label>
        </div>
        <div class="form-floating mb-3">
            <button class="btn btn-primary" @onclick="() => Model.Load()">Suchen</button>
            <a class="btn btn-primary" href="/absence/register">Abwesenheit eintragen</a>
        </div>
        <div class="card">
            <div class="card-body">
                @if (Model.Items.Count > 0)
                {
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Von
                                </th>
                                <th>
                                    Bis
                                </th>
                                <AuthorizeView Roles="@DefaultRoles.Officer">
                                    <Authorized>
                                        <th>
                                            &nbsp;
                                        </th>
                                    </Authorized>
                                    <NotAuthorized>
                                        @if (Model.Items.Any(i => i.MemberName == UserName))
                                        {
                                            <th>
                                                &nbsp;
                                            </th>
                                        }
                                    </NotAuthorized>
                                </AuthorizeView>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        @item.MemberName
                                    </td>
                                    <td>
                                        @item.StartDate.ToDateString()
                                    </td>
                                    <td>
                                        @item.EndDate.ToDateString()
                                    </td>
                                    <AuthorizeView Roles="@DefaultRoles.Officer">
                                        <Authorized>
                                            <td style="text-align: right">
                                                <a class="btn btn-primary btn-sm" href="/absence/details?Id=@item.Id">Bearbeiten</a>
                                            </td>
                                        </Authorized>
                                        <NotAuthorized>
                                            @if (item.MemberName == UserName)
                                            {
                                                <td style="text-align: right">
                                                    <a class="btn btn-primary btn-sm" href="/absence/details?Id=@item.Id">Bearbeiten</a>
                                                </td>
                                            }
                                        </NotAuthorized>
                                    </AuthorizeView>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>Im ausgewählten Zeitraum liegen keine Abwesenheiten vor.</span>
                }
            </div>
        </div>
    </div>
</div>

@code {

    private string UserName { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var user = await UserAccessor.GetUser();
        UserName = user?.Name ?? string.Empty;
        await Model.Load();
    }
}
