﻿@page "/absence/details"
@rendermode InteractiveServer
@attribute [Authorize]
@inject UserAccessor UserAccessor;
@inject AbsenceDetailsModel Model;

<PageTitle>Abwesenheiten</PageTitle>

<h1>Abwesenheit</h1>

<div class="row">
    <div class="col-md-8">
        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                @Model.SuccessMessage
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        }
        @if (!Model.WasDeleted)
        {
            <div class="form-floating mb-3">
                <input @bind-value="Model.Name" type="text" class="form-control" disabled />
                <label for="name">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input @bind-value="Model.StartDate" type="date" class="form-control" />
                <label for="start-date">Von</label>
            </div>
            <div class="form-floating mb-3">
                <input @bind-value="Model.EndDate" type="date" class="form-control" />
                <label for="end-date">Bis</label>
            </div>
            <div class="form-floating mb-3">
                <input @bind-value="Model.Reason" type="text" class="form-control" />
                <label for="reason">Grund</label>
            </div>

            <AuthorizeView Roles="@DefaultRoles.Officer">
                <Authorized>
                    <button class="btn btn-primary" @onclick="() => Model.Save()">Speichern</button>
                    <button class="btn btn-danger" @onclick="() => Model.Delete()">Löschen</button>
                </Authorized>
                <NotAuthorized>
                    @if (Model.Name == UserName)
                    {
                        <button class="btn btn-primary" @onclick="() => Model.Save()">Speichern</button>
                        <button class="btn btn-danger" @onclick="() => Model.Delete()">Löschen</button>
                    }
                </NotAuthorized>
            </AuthorizeView>
        }
        else
        {
            <a class="btn btn-primary" href="/absence/list">Abwesenheiten</a>
        }
    </div>
</div>

@code {
    [SupplyParameterFromQuery]
    public Guid Id
    {
        get { return Model.Id; }
        set { Model.Id = value; }
    }

    private string UserName { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var user = await UserAccessor.GetUser();
        UserName = user?.Name ?? string.Empty;
        await Model.Load();
    }
}
