﻿@page "/absence/register"
@using Valerian.Components.Account
@rendermode InteractiveServer
@attribute [Authorize]
@inject UserAccessor UserAccessor;
@inject MemberSettings MemberSettings;
@inject RegisterAbsenceModel Model;

<PageTitle>Abwesenheiten</PageTitle>

<h1>Abwesenheit eintragen</h1>

<div class="row">
    <div class="col-md-8">
        @if (Model.WasSaved)
        {
            <div class="alert alert-success" role="alert">
                Die Abwesenheit wurde erfolgreich gespeichert.
                <br />
                <a class="btn btn-primary" href="/absence/details?Id=@Model.Id">Bearbeiten</a>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        }
        <div class="form-floating mb-3">
            <AuthorizeView Roles="@DefaultRoles.Officer">
                <Authorized>
                    <select @bind="Model.MemberName" class="form-select">
                        @foreach (var name in MemberSettings.MemberNames.OrderBy(i => i))
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </Authorized>
                <NotAuthorized>
                    <input @bind-value="Model.MemberName" type="text" class="form-control" disabled />
                </NotAuthorized>
            </AuthorizeView>
            <label for="member-name">Name</label>
        </div>
        <div class="form-floating mb-3">
            <input @bind-value="Model.StartDate" type="date" class="form-control" />
            <label for="start-date">Von</label>
        </div>
        <div class="form-floating mb-3">
            <input @bind-value="Model.EndDate" type="date" class="form-control" />
            <label for="end-date">Bis</label>
        </div>
        <div class="form-floating mb-3">
            <input @bind-value="Model.Reason" type="text" class="form-control" />
            <label for="reason">Grund</label>
        </div>
        <button class="btn btn-primary" @onclick="() => Model.Save()">Speichern</button>
    </div>
</div>

@code {

    private string UserName { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var user = await UserAccessor.GetUser();
        UserName = user?.Name ?? string.Empty;
        await Model.Load(UserName);
    }
}

