﻿@page "/event/list"
@using System.Text
@rendermode InteractiveServer
@attribute [Authorize]

@inject GroupSettings GroupSettings
@inject EventListModel Model

<PageTitle>Veranstaltungen</PageTitle>

<h1>Veranstaltungen im Zeitraum</h1>

<div class="row">
    <div class="col-md-8">
        <div class="form-floating mb-3">
            <input @bind-value="Model.StartDate" type="date" class="form-control" />
            <label for="start-date">Von</label>
        </div>
        <div class="form-floating mb-3">
            <input @bind-value="Model.EndDate" type="date" class="form-control" />
            <label for="end-date">Bis</label>
        </div>
        <div class="form-floating mb-3">
            <button class="btn btn-primary" @onclick="() => Model.Load()">Suchen</button>
            <AuthorizeView Roles="@DefaultRoles.Officer">
                <Authorized>
                    <a class="btn btn-primary" href="/event/register">Veranstaltung eintragen</a>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="card">
            <div class="card-body">
                @if (Model.Items.Count > 0)
                {
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th>
                                    Veranstaltung
                                </th>
                                <th>
                                    Start
                                </th>
                                <th>
                                    Ende
                                </th>
                                <th>
                                    Veranstalter
                                </th>
                                <th>
                                    Link
                                </th>
                                <AuthorizeView Roles="@DefaultRoles.Officer">
                                    <Authorized>
                                        <th>
                                            Veranstaltung
                                        </th>
                                        <th>
                                            Anwesenheit
                                        </th>
                                    </Authorized>
                                </AuthorizeView>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        @item.EventName
                                    </td>
                                    <td>
                                        @item.StartDate.ToDateString(DateStringFormat.DateTime)
                                    </td>
                                    <td>
                                        @item.EndDate.ToDateString(DateStringFormat.DateTime)
                                    </td>
                                    <td>
                                        @{
                                            var group = GroupSettings.GetGroup(item.Organizer);
                                            if (group != null)
                                            {
                                                @group.Name
                                            }
                                            else
                                            {
                                                @item.Organizer
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if(!string.IsNullOrEmpty(item.Url))
                                        {
                                            <a class="btn btn-link btn-sm" href="@item.Url" target="_blank">Link</a>
                                        }
                                    </td>
                                    <AuthorizeView Roles="@DefaultRoles.Officer">
                                        <Authorized>
                                            <td>
                                                <a class="btn btn-primary btn-sm" href="/event/details?Id=@item.Id">Bearbeiten</a>
                                            </td>
                                            <td>
                                                @if (item.ParticipationId == Guid.Empty)
                                                {
                                                    var sb = new StringBuilder();
                                                    sb.Append("participation/register");
                                                    if (item.Id == Guid.Empty)
                                                    {
                                                        sb.AppendFormat("?date={0}", item.StartDate.ToString("MM-dd-yy"));
                                                        sb.AppendFormat("&name={0}", item.EventName);
                                                        sb.AppendFormat("&organizer={0}", item.Organizer);
                                                    }
                                                    else
                                                    {
                                                        sb.AppendFormat("?eventId={0}", item.Id);
                                                    }
                                                    if (item.StartDate <= DateTime.Today)
                                                    {
                                                        <a class="btn btn-outline-danger btn-sm" href="@sb.ToString()">Eintragen</a>
                                                    }
                                                    else if (item.StartDate <= DateTime.Now)
                                                    {
                                                        <a class="btn btn-outline-primary btn-sm" href="@sb.ToString()">Eintragen</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-outline-secondary btn-sm" href="@sb.ToString()">Eintragen</a>
                                                    }
                                                }
                                                else
                                                {
                                                    var url = string.Format("participation/details?id={0}", item.ParticipationId);
                                                    <a class="btn btn-success btn-sm" href="@url">Bearbeiten</a>
                                                }
                                            </td>
                                        </Authorized>
                                    </AuthorizeView>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>Im ausgewählten Zeitraum liegen keine Veranstaltungen vor.</span>
                }
            </div>
        </div>
    </div>
</div>

@code {
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Model.Load();
    }
}
