﻿@page "/event/details"
@rendermode InteractiveServer
@attribute [Authorize]

@inject GroupSettings GroupSettings;
@inject EventSettings EventSettings;
@inject EventDetailsModel Model;

<PageTitle>Veranstaltungen</PageTitle>

<h1>Teilnehmer auswählen</h1>

<div class="row">
    <div class="col-md-8">
        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                @Model.SuccessMessage
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        }
        @if (!Model.WasDeleted)
        {
            <div class="form-floating mb-3">
                <input @bind-value="Model.EventName" type="text" class="form-control" />
                <label for="event-name">Veranstaltung</label>
            </div>
            <div class="form-floating mb-3">
                <input @bind-value="Model.StartDate" type="datetime-local" class="form-control" />
                <label for="start-date">Start</label>
            </div>
            <div class="form-floating mb-3">
                <input @bind-value="Model.EndDate" type="datetime-local" class="form-control" />
                <label for="end-date">Ende</label>
            </div>
            <div class="form-floating mb-3">
                <select @bind="Model.Organizer" class="form-select">
                    @foreach (var organizer in EventSettings.Organizer)
                    {
                        var group = GroupSettings.GetGroup(organizer);
                        if (group != null)
                        {
                            <option value="@group.Key">@group.Name</option>
                        }
                        else
                        {
                            <option value="@organizer">@organizer</option>
                        }
                    }
                </select>
                <label for="organizer">Veranstalter</label>
            </div>
            <div class="form-floating mb-3">
                <input @bind-value="Model.Url" type="text" class="form-control" />
                <label for="url">Url</label>
            </div>

            <AuthorizeView Roles="@DefaultRoles.Officer">
                <Authorized>
                    <button class="btn btn-primary" @onclick="() => Model.Save()">Speichern</button>
                    <button class="btn btn-danger" @onclick="() => Model.Delete()">Löschen</button>
                </Authorized>
            </AuthorizeView>
        }
        else
        {
            <a class="btn btn-primary" href="/event/list">Veranstaltungliste</a>
        }
    </div>
</div>

@code {
    [SupplyParameterFromQuery]
    public Guid Id
    {
        get { return Model.Id; }
        set { Model.Id = value; }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Model.Load();
    }
}
