﻿@page "/event/preview"
@using System.Text
@rendermode InteractiveServer

@inject GroupSettings GroupSettings
@inject EventPreviewModel Model

<PageTitle>Veranstaltungen</PageTitle>

<h1>Aktuelle Veranstaltungen</h1>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                @if (Model.Items.Count > 0)
                {
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th align="left">
                                    Veranstaltung
                                </th>
                                <th align="left">
                                    Veranstalter
                                </th>
                                <th align="left">
                                    Von
                                </th>
                                <th align="left">
                                    Bis
                                </th>
                                <th align="left">
                                    Link
                                </th>
                                <AuthorizeView Roles="@DefaultRoles.Officer">
                                    <Authorized>
                                        <th align="left">
                                            Veranstaltung
                                        </th>
                                        <th align="left">
                                            Anwesenheit
                                        </th>
                                    </Authorized>
                                </AuthorizeView>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr class="@(item.StartDate.Date == DateTime.Today ? "bg-info" : string.Empty)">
                                    <td align="left">
                                        @item.EventName
                                    </td>
                                    <td align="left">
                                        @{
                                            var group = GroupSettings.GetGroup(item.Organizer);
                                            if (group != null)
                                            {
                                                @group.Name
                                            }
                                            else
                                            {
                                                @item.Organizer
                                            }
                                        }
                                    </td>
                                    <td align="left">
                                        @item.StartDate.ToDateString(DateStringFormat.DateTime)
                                    </td>
                                    <td align="left">
                                        @item.EndDate.ToDateString(DateStringFormat.DateTime)
                                    </td>
                                    <td align="left">
                                        @if (!string.IsNullOrEmpty(item.Url))
                                        {
                                            <a class="btn btn-link btn-sm" href="@item.Url" target="_blank">Link</a>
                                        }
                                    </td>
                                    <AuthorizeView Roles="@DefaultRoles.Officer">
                                        <Authorized>
                                            <td align="left">
                                                @if (item.Id != Guid.Empty)
                                                {
                                                    var url = string.Format("event/details?id={0}", item.Id);
                                                    if (item.StartDate < DateTime.Today)
                                                    {
                                                        <a class="btn btn-success btn-sm" href="@url">Bearbeiten</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-primary btn-sm" href="@url">Bearbeiten</a>
                                                    }
                                                }
                                                else if (item.WeeklyId != Guid.Empty)
                                                {
                                                    var sb = new StringBuilder();
                                                    sb.Append("event/register");
                                                    if (item.Id == Guid.Empty)
                                                    {
                                                        sb.AppendFormat("?date={0}", item.StartDate.ToString("MM-dd-yy"));
                                                        sb.AppendFormat("&name={0}", item.EventName);
                                                        sb.AppendFormat("&organizer={0}", item.Organizer);
                                                        sb.AppendFormat("&weeklyId={0}", item.WeeklyId);
                                                    }
                                                    if (item.StartDate < DateTime.Today)
                                                    {
                                                        <a class="btn btn-outline-success btn-sm" href="@sb.ToString()">Bearbeiten</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-outline-secondary btn-sm" href="@sb.ToString()">Bearbeiten</a>
                                                    }
                                                }
                                            </td>
                                            <td align="left">
                                                @if (item.ParticipationId == Guid.Empty)
                                                {
                                                    var sb = new StringBuilder();
                                                    sb.Append("participation/register");
                                                    if (item.Id == Guid.Empty)
                                                    {
                                                        sb.AppendFormat("?date={0}", item.StartDate.ToString("MM-dd-yy"));
                                                        sb.AppendFormat("&name={0}", item.EventName);
                                                        sb.AppendFormat("&organizer={0}", item.Organizer);
                                                    }
                                                    else
                                                    {
                                                        sb.AppendFormat("?eventId={0}", item.Id);
                                                    }
                                                    if (item.StartDate < DateTime.Today)
                                                    {
                                                        <a class="btn btn-outline-danger btn-sm" href="@sb.ToString()">Eintragen</a>
                                                    }
                                                    else if (item.StartDate < DateTime.Now)
                                                    {
                                                        <a class="btn btn-outline-primary btn-sm" href="@sb.ToString()">Eintragen</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-outline-secondary btn-sm" href="@sb.ToString()">Eintragen</a>
                                                    }
                                                }
                                                else
                                                {
                                                    var url = string.Format("participation/details?id={0}", item.ParticipationId);
                                                    if (item.StartDate < DateTime.Today)
                                                    {
                                                        <a class="btn btn-success btn-sm" href="@url">Bearbeiten</a>
                                                    }
                                                    else if (item.StartDate < DateTime.Now)
                                                    {
                                                        <a class="btn btn-primary btn-sm" href="@url">Bearbeiten</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-secondary btn-sm" href="@url">Bearbeiten</a>
                                                    }
                                                }
                                            </td>
                                        </Authorized>
                                    </AuthorizeView>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>Es sind aktuell keine Veranstaltungen geplant.</span>
                }
                <AuthorizeView Roles="@DefaultRoles.Officer">
                    <Authorized>
                        <a class="btn btn-primary" href="/event/list">Veranstaltung suchen</a>
                        <a class="btn btn-primary" href="/event/register">Veranstaltung eintragen</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</div>

@code {
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Model.Load();
    }
}
