﻿@page "/event/register"
@rendermode InteractiveServer
@attribute [Authorize(Roles = DefaultRoles.Officer)]

@inject GroupSettings GroupSettings
@inject EventSettings EventSettings
@inject RegisterEventModel Model

<PageTitle>Veranstaltungen</PageTitle>

<h1>Veranstaltung eintragen</h1>

<div class="row">
    <div class="col-md-8">
        @if (Model.WasSaved)
        {
            <div class="alert alert-success" role="alert">
                Die Veranstaltung wurde erfolgreich gespeichert.
                <br />
                <a class="btn btn-primary" href="/event/details?Id=@Model.Id">Bearbeiten</a>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
                @if (Model.Id != Guid.Empty)
                {
                    <br />
                    <a class="btn btn-primary" href="/event/details?Id=@Model.Id">Bearbeiten</a>
                }
            </div>
        }
        <div class="form-floating mb-3">
            <input @bind-value="Model.EventName" type="text" class="form-control" />
            <label for="event-name">Veranstaltung</label>
        </div>
        <div class="form-floating mb-3">
            <input @bind-value="Model.StartDate" type="datetime-local" class="form-control" />
            <label for="start-date">Start</label>
        </div>
        <div class="form-floating mb-3">
            <input @bind-value="Model.EndDate" type="datetime-local" class="form-control" />
            <label for="end-date">Ende</label>
        </div>
        <div class="form-floating mb-3">
            <select @bind="Model.Organizer" class="form-select">
                @foreach (var organizer in EventSettings.Organizer)
                {
                    var group = GroupSettings.GetGroup(organizer);
                    if (group != null)
                    {
                        <option value="@group.Key">@group.Name</option>
                    }
                    else
                    {
                        <option value="@organizer">@organizer</option>
                    }
                }
            </select>
            <label for="organizer">Veranstalter</label>
        </div>
        <div class="form-floating mb-3">
            <input @bind-value="Model.Url" type="text" class="form-control" />
            <label for="url">Url</label>
        </div>
        <button class="btn btn-primary" @onclick="() => Model.Save()">Speichern</button>
    </div>
</div>

@code {

    [SupplyParameterFromQuery]
    public DateTime? Date { get; set; }
    [SupplyParameterFromQuery]
    public string? Name { get; set; }
    [SupplyParameterFromQuery]
    public string? Organizer { get; set; }
    [SupplyParameterFromQuery]
    public Guid? WeeklyId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Model.Load(Date, Name, Organizer, WeeklyId);
    }
}

