﻿@page "/account/manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using Valerian.Application.Accounts.Services
@using Valerian.Data;
@using Valerian.Data.Account

@inject IUserService UserService
@inject GroupSettings GroupSettings
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage />

<div class="row">
    <div class="col-md-6">
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <input type="text" value="@username" class="form-control" disabled />
                <label for="username" class="form-label">Handle</label>
            </div>
            <div class="form-floating mb-3">
                <AuthorizeView Roles="@DefaultRoles.Officer">
                    <Authorized Context="AuthorizedContext">
                        <InputSelect @bind-Value="Input.CommandGroup" class="form-select">
                            <option selected value="">Bitte wähle deine Gruppe aus</option>
                            @foreach (var group in GroupSettings.GetGroups())
                            {
                                if (commandGroup == group.Key)
                                {
                                    <option selected value="@group.Key">@group.Name</option>
                                }
                                else
                                {
                                    <option value="@group.Key">@group.Name</option>
                                }
                            }
                        </InputSelect>
                    </Authorized>
                    <NotAuthorized Context="NotAuthorizedContext">
                        <InputSelect @bind-Value="Input.CommandGroup" class="form-select">
                            <option selected value="">Bitte wähle deine Kommandogruppe aus</option>
                            @foreach (var group in GroupSettings.CommandGroups)
                            {
                                if (commandGroup == group.Key)
                                {
                                    <option selected value="@group.Key">@group.Name</option>
                                }
                                else
                                {
                                    <option value="@group.Key">@group.Name</option>
                                }
                            }
                        </InputSelect>
                    </NotAuthorized>
                </AuthorizeView>

                <label for="command-group" class="form-label">Kommandogruppe</label>
                <ValidationMessage For="() => Input.CommandGroup" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser user = default!;
    private string? username;
    private string? commandGroup;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        username = await UserManager.GetUserNameAsync(user);
        commandGroup = user.CommandGroup;
    }

    private async Task OnValidSubmitAsync()
    {
        if (Input.CommandGroup != commandGroup)
        {
            await UserService.SetCommandGroup(user.UserName, Input.CommandGroup);
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
    }

    private sealed class InputModel
    {
        [Display(Name = "Kommandogruppe")]
        public string? CommandGroup { get; set; }
    }
}
