﻿@if (Model != null)
{
    <AuthorizeView Roles="@DefaultRoles.Officer">
        <Authorized>
            <div class="form-floating mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mitglieder</h5>
                        @foreach (var group in Model.GetCandidates())
                        {
                            @foreach (var name in group)
                            {
                                <button class="btn btn-secondary btn-sm m-1" @onclick="() => Select(name)">@name</button>
                            }
                        }
                    </div>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="form-floating mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Teilnehmer</h5>
                @foreach (var group in Model.GetParticipants())
                {
                    @foreach (var name in group)
                    {
                        <AuthorizeView Roles="@DefaultRoles.Officer">
                            <Authorized>
                                <button class="btn btn-secondary btn-sm m-1" @onclick="() => Select(name)">@name</button>
                            </Authorized>
                            <NotAuthorized>
                                <button class="btn btn-secondary btn-sm m-1" disabled>@name</button>
                            </NotAuthorized>
                        </AuthorizeView>
                    }
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public EventCallback<ChangeEventArgs> SelectionChanged { get; set; }

    [Parameter]
    public ParticipantSelectionModel? Model { get; set; }

    private async Task Select(string name)
    {
        if (Model != null)
        {
            await Model.Select(name);
            await SelectionChanged.InvokeAsync();
        }
    }
}
