﻿@page "/participation/evaluate"
@rendermode InteractiveServer
@attribute [Authorize]
@inject EvaluateParticipantsModel Model;

<PageTitle>Anwesenheiten</PageTitle>

<h1>Teilnehmer auswerten</h1>

@if (Model.Items.Count > 0)
{
    <table style="width: 100%">
        <thead>
            <tr>
                <th>
                    <button class="btn btn-outline-dark btn-sm" style="width: 100%; height:100%;"
                            @onclick="() => Model.Sort(nameof(EvaluateParticipantsItem.ParticipantName))">
                        Teilnehmer
                    </button>
                </th>
                <th>
                    <button class="btn btn-outline-dark btn-sm" style="width: 100%; height:100%;"
                            @onclick="() => Model.Sort(nameof(EvaluateParticipantsItem.NumberOfParticipations))">
                        Gesamt
                    </button>
                </th>
                <th>
                    <button class="btn btn-outline-dark btn-sm" style="width: 100%; height:100%;"
                            @onclick="() => Model.Sort(nameof(EvaluateParticipantsItem.ParticipationCurrentMonth))">
                        Dieser Monat
                    </button>
                </th>
                <th>
                    <button class="btn btn-outline-dark btn-sm" style="width: 100%; height:100%;"
                            @onclick="() => Model.Sort(nameof(EvaluateParticipantsItem.ParticipationPreviousMonth))">
                        Letzter Monat
                    </button>
                </th>
                <th>
                    <button class="btn btn-outline-dark btn-sm" style="width: 100%; height:100%;"
                            @onclick="() => Model.Sort(nameof(EvaluateParticipantsItem.ParticipationCurrentQuarter))">
                        Dieses Quartal
                    </button>
                </th>
                <th>
                    <button class="btn btn-outline-dark btn-sm" style="width: 100%; height:100%;"
                            @onclick="() => Model.Sort(nameof(EvaluateParticipantsItem.ParticipationPreviousQuarter))">
                        Letztes Quartal
                    </button>
                </th>
                <th>
                    <button class="btn btn-outline-dark btn-sm" style="width: 100%; height:100%;"
                            @onclick="() => Model.Sort(nameof(EvaluateParticipantsItem.ParticipationCurrentYear))">
                        Dieses Jahr
                    </button>
                </th>
                <th>
                    <button class="btn btn-outline-dark btn-sm" style="width: 100%; height:100%;"
                            @onclick="() => Model.Sort(nameof(EvaluateParticipantsItem.ParticipationPreviousYear))">
                        Letztes Jahr
                    </button>
                </th>
                <th>
                    <button class="btn btn-outline-dark btn-sm" style="width: 100%; height:100%;"
                            @onclick="() => Model.Sort(nameof(EvaluateParticipantsItem.LastEventDate))">
                        Letzte Anwesenheit
                    </button>
                </th>
                <th>
                    <button class="btn btn-outline-dark btn-sm" style="width: 100%; height:100%;"
                            @onclick="() => Model.Sort(nameof(EvaluateParticipantsItem.AbsenceUntil))">
                        Abwesend
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="9">
                    <span class="alert-primary">&nbsp;Offizier&nbsp;</span>
                    <span class="alert-success">&nbsp;Mitglied&nbsp;</span>
                    <span class="alert-info">&nbsp;Abwesend&nbsp;</span>
                    <span class="alert-secondary">&nbsp;Niemals teilgenommen&nbsp;</span>
                    <span class="alert-danger">&nbsp;Mehr als 180 Tage lang nicht teilgenommen&nbsp;</span>
                    <span class="alert-warning">&nbsp;Mehr als 90 Tage lang nicht teilgenommen&nbsp;</span>
                </td>
            </tr>
            @foreach (var item in Model.Items)
            {
                <tr class="@Model.GetRowStyle(item)">
                    <td style="text-align: left;">
                        @item.ParticipantName
                    </td>
                    <td style="text-align: right;">
                        @item.NumberOfParticipations
                    </td>
                    <td style="text-align: right;">
                        @item.ParticipationCurrentMonth
                    </td>
                    <td style="text-align: right;">
                        @item.ParticipationPreviousMonth
                    </td>
                    <td style="text-align: right;">
                        @item.ParticipationCurrentQuarter
                    </td>
                    <td style="text-align: right;">
                        @item.ParticipationPreviousQuarter
                    </td>
                    <td style="text-align: right;">
                        @item.ParticipationCurrentYear
                    </td>
                    <td style="text-align: right;">
                        @item.ParticipationPreviousYear
                    </td>
                    <td style="text-align: right;">
                        @if (item.LastEventDate > DateOnly.MinValue)
                        {
                            @item.LastEventDate.ToDateString()
                        }
                        else
                        {
                            <span>k.A.</span>
                        }
                    </td>
                    <td style="text-align: right;">
                        @if (item.AbsenceUntil > DateOnly.MinValue)
                        {
                            @item.AbsenceUntil.ToDateString()
                        }
                        else
                        {
                            <span>k.A.</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>Es wurden keine Teilnehmer gefunden.</span>
}

@code {

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Model.Load();
    }
}
