﻿@page "/participation/details"
@rendermode InteractiveServer
@attribute [Authorize]

@inject GroupSettings GroupSettings
@inject EventSettings EventSettings
@inject ParticipationDetailsModel Model

<PageTitle>Anwesenheiten</PageTitle>

<h1>Teilnehmer auswählen</h1>

<div class="row">
    <div class="col-md-8">
        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                @Model.SuccessMessage
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        }
        @if (!Model.WasDeleted)
        {
            <div class="form-floating mb-3">
                <input @bind-value="Model.EventName" type="text" class="form-control" disabled />
                <label for="event-name">Veranstaltung</label>
            </div>
            <div class="form-floating mb-3">
                <input @bind-value="Model.EventDate" type="date" class="form-control" disabled />
                <label for="event-date">Datum</label>
            </div>
            <div class="form-floating mb-3">
                @{
                    var group = GroupSettings.GetGroup(Model.Organizer);
                    if (group != null)
                    {
                        <input value="@group.Name" type="text" class="form-control" disabled />
                    }
                    else
                    {
                        <input value="@Model.Organizer" type="text" class="form-control" disabled />
                    }
                }
                <label for="organizer">Veranstalter</label>
            </div>
            <ParticipantSelection Model="Model" SelectionChanged="() => Model.ParticipantSelectionChanged()" />

            <AuthorizeView Roles="@DefaultRoles.Officer">
                <Authorized>
                    <button class="btn btn-primary" @onclick="() => Model.Save()">Speichern</button>
                    <button class="btn btn-danger" @onclick="() => Model.Delete()">Löschen</button>
                </Authorized>
            </AuthorizeView>
        }
        else
        {
            <a class="btn btn-primary" href="/participation/list">Anwesenheitliste</a>
        }
    </div>
</div>

@code {
    [SupplyParameterFromQuery]
    public Guid Id
    {
        get { return Model.Id; }
        set { Model.Id = value; }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Model.Load();
    }
}
