﻿@page "/participation/list"
@rendermode InteractiveServer
@attribute [Authorize]

@inject GroupSettings GroupSettings
@inject ParticipationListModel Model

<PageTitle>Anwesenheiten</PageTitle>

<h1>Anwesenheiten im Zeitraum</h1>

<div class="row">
    <div class="col-md-8">
        <div class="form-floating mb-3">
            <input @bind-value="Model.StartDate" type="date" class="form-control" />
            <label for="start-date">Von</label>
        </div>
        <div class="form-floating mb-3">
            <input @bind-value="Model.EndDate" type="date" class="form-control" />
            <label for="end-date">Bis</label>
        </div>
        <div class="form-floating mb-3">
            <button class="btn btn-primary" @onclick="() => Model.Load()">Suchen</button>
            <AuthorizeView Roles="@DefaultRoles.Officer">
                <Authorized>
                    <a class="btn btn-primary" href="/participation/register">Anwesenheit eintragen</a>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="card">
            <div class="card-body">
                @if (Model.Items.Count > 0)
                {
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th>
                                    Datum
                                </th>
                                <th>
                                    Veranstaltung
                                </th>
                                <th>
                                    Veranstalter
                                </th>
                                <th>
                                    Teilnehmer
                                </th>
                                <AuthorizeView Roles="@DefaultRoles.Officer">
                                    <Authorized>
                                        <th>
                                            &nbsp;
                                        </th>
                                    </Authorized>
                                </AuthorizeView>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        @item.EventDate.ToDateString()
                                    </td>
                                    <td>
                                        @item.EventName
                                    </td>
                                    <td>
                                        @{
                                            var group = GroupSettings.GetGroup(item.Organizer);
                                            if (group != null)
                                            {
                                                @group.Name
                                            }
                                            else
                                            {
                                                @item.Organizer
                                            }
                                        }
                                    </td>
                                    <td>
                                        @item.NumberOfParticipants
                                    </td>
                                    <AuthorizeView Roles="@DefaultRoles.Officer">
                                        <Authorized>
                                            <td style="text-align: right">
                                                <a class="btn btn-primary btn-sm" href="/participation/details?Id=@item.Id">Bearbeiten</a>
                                            </td>
                                        </Authorized>
                                    </AuthorizeView>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>Im ausgewählten Zeitraum liegen keine Anwesenheiten vor.</span>
                }
            </div>
        </div>
    </div>
</div>

@code {
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Model.Load();
    }
}
