﻿@page "/participation/register"
@using static Valerian.Application.Event.Requests.EventDetailsRequest
@rendermode InteractiveServer
@attribute [Authorize(Roles = DefaultRoles.Officer)]

@inject GroupSettings GroupSettings
@inject EventSettings EventSettings
@inject RegisterParticipationModel Model

<PageTitle>Anwesenheiten</PageTitle>

<h1>Anwesenheit eintragen</h1>

<div class="row">
    <div class="col-md-8">
        @if (Model.WasSaved)
        {
            <div class="alert alert-success" role="alert">
                Die Anwesenheit wurde erfolgreich gespeichert.
                <br />
                <a class="btn btn-primary" href="/participation/details?Id=@Model.Id">Bearbeiten</a>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
                @if (Model.Id != Guid.Empty)
                {
                    <br />
                    <a class="btn btn-primary" href="/participation/details?Id=@Model.Id">Bearbeiten</a>
                }
            </div>
        }
        @if (EventId == null && Name == null)
        {
            <div class="form-floating mb-3">
                <input @bind-value="Model.CanEditEventName" type="checkbox" /> Eigene Veranstaltung eingeben
            </div>
            @if (Model.CanEditEventName)
            {
                <div class="form-floating mb-3">
                    <input @bind-value="Model.EventName" type="text" class="form-control" />
                    <label for="event-name">Veranstaltung</label>
                </div>
            }
            else
            {
                <div class="form-floating mb-3">
                    <select @bind="Model.EventName" class="form-select">
                        @foreach (var name in EventSettings.EventNames)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                    <label for="event-name">Veranstaltung</label>
                </div>
            }
        }
        else
        {
            <div class="form-floating mb-3">
                <input @bind-value="Model.EventName" type="text" class="form-control" disabled />
                <label for="event-name">Veranstaltung</label>
            </div>
        }
        <div class="form-floating mb-3">
            @if (EventId == null && Date == null)
            {
                <input @bind-value="Model.EventDate" type="date" class="form-control" />
                <label for="event-date">Datum</label>
            }
            else
            {
                <input @bind-value="Model.EventDate" type="date" class="form-control" disabled />
            }
            <label for="event-date">Datum</label>
        </div>
        <div class="form-floating mb-3">
            @if (EventId == null && Organizer == null)
            {
                <select @bind="Model.Organizer" class="form-select">
                    @foreach (var organizer in EventSettings.Organizer)
                    {
                        var group = GroupSettings.GetGroup(organizer);
                        if (group != null)
                        {
                            <option value="@group.Key">@group.Name</option>
                        }
                        else
                        {
                            <option value="@organizer">@organizer</option>
                        }
                    }
                </select>
            }
            else
            {
                var group = GroupSettings.GetGroup(Model.Organizer);
                if (group != null)
                {
                    <input value="@group.Name" type="text" class="form-control" disabled />
                }
                else
                {
                    <input value="@Model.Organizer" type="text" class="form-control" disabled />
                }
            }
            <label for="organizer">Veranstalter</label>
        </div>
        <ParticipantSelection Model="Model" SelectionChanged="() => Model.ParticipantSelectionChanged()" />
        <button class="btn btn-primary" @onclick="() => Model.Save()">Speichern</button>
    </div>
</div>

@code {

    [SupplyParameterFromQuery]
    public DateTime? Date { get; set; }
    [SupplyParameterFromQuery]
    public string? Name { get; set; }
    [SupplyParameterFromQuery]
    public string? Organizer { get; set; }
    [SupplyParameterFromQuery]
    public Guid? EventId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Model.Load(Date, Name, Organizer, EventId);
    }
}

